<%-messages()%>
<h1>Welcome, <%= account_firstname%></h1>
<p>You're logged in!</p>

<div>
<a href="/account/update/<%= user.account_id %>">Edit Account Information</a>
<% if (account_type === 'Admin' || account_type === 'Employee') { %>
    <div>
        <h2>Inventory Management</h2>
        <a href="/inv">Manage Inventory</a>
    </div>
<% } %>
<h3>Reminders</h3>
<a href="/reminders">View Reminders</a>

</div>