<h1>Register</h1>
<form method="post" action="/account/register">
    <fieldset>
        <label> First name*<input type="text" id="fname" name="fname" required></label>
        <label> Last name*<input type="text" id="lname" name="lname" required></label>
        <label> Email*<input type="email" id="email" name="email" placeholder="someone@gmail.com" required></label>
        <label> Password*</label>
        <div>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a
            capital letter, and one must be a non-alphanumeric character.</div><input type="password" id="Pword"
            name="Pword" placeholder="********" required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <button> <input type="submit" value="Register"></button>

    </fieldset>
</form>