*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Sansita", sans-serif;
}

.siteName {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 40px;
}

.headerTop a {
  position: relative;
  margin-right: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgba(67, 164, 42, 0.936);
  position: relative;
}

#menu-icon {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

#menu-icon:hover {
  color: #ccc;
}


.show-menu {
  display: flex !important;
}

nav {
  background-color: #36454f;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: none; 
  flex-direction: column;
  padding: 0;
}

nav ul li {
  padding: 10px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: block;
}

nav ul li a:hover {
  background-color: #2c3e50;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  grid-column: span 2;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  background-color: #eee;
  color: black;
}

.learninglinks {
  width: 200px;
  align-items: center;
  background-color: aqua;
}

.card {
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}

.card h2 {
  margin-bottom: 10px;
  color: black;
  padding: 10px;
}

.card a {
  color: black;
}

.card a:hover {
  text-decoration: underline;
  color: rgb(39, 124, 169);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;

}

.hero {
  margin: 10px auto;
  position: relative;
  border: 1px solid #0000001a;
  height: 100%;
  grid-column: span 2;
}

.heroimg img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.herolabel {
  position: relative;
  top: 20px;
  left: 20px;
  background: radial-gradient(#ffffffd3, #4D5B97);
  border: 1px solid rgba(245, 245, 245, 0.75);
  padding: 1rem;
  box-shadow: 0 0 3rem #fff;
  opacity: 0.85;
  max-height: 300px;
}

.herolabel img {
  height: 80px;
  margin-bottom: 20px;
}

.herolabel p {
  margin: 0;
  padding: .25rem;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Great Vibes", serif;
}

.label {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1rem;
}

img {
  margin-right: 10px;
}

.vehicle-detail {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.vehicle-detail h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.vehicle-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.vehicle-info {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.vehicle-info .price {
  font-size: 2.9rem;
  color: #f4df00bd;
  font-weight: bold;
  background-color: #2c3e50;
  padding: 5px;
  margin-bottom: 20px;

}

.vehicle-specs p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.form-display {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 20px 0;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4a714b;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3aad3f;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

label[for="inv_image"],
label[for="inv_thumbnail"] {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

@keyframes translateUp {
  0% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}